@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

font-family: "Azeret Mono",
monospace;

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 867px;
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 748.5px;
}

